.CalculatorScreenContainer {
    margin: 50px auto;
    width: 90%;
    height: 80px;
    background-color: white;;
}

.CalculatorResult {
    margin: 0 auto;
    text-align: right;
    padding: 10px;
    font-size: 3.5em;
}